body {
    padding: 0px;
    margin: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_plate {
    width: 1194px;
    height: 834px;
    background-color: white;
    border: 1px solid black;
    margin: 56px;
    position: relative;
    display: flex;
}

h1 {
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
}

h3 {
    font-family: 'Syncopate', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
}

h4 {
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

#intro_section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    position: absolute;
    background-color: white;
}

#start_button {
    background-color: white;
    margin: 0px;
    width: 50%;
    border: none;
    background-image: url("gradients/gradient\ \(13\).gif");
    background-position: center;
    background-size: 200%;
}

.intro_step {
    display: flex;
    border-top: 2px solid black;
    padding: 0px;
}

.intro_step div {
    display: flex;
}

.intro_step_number {
    justify-content: center;
    align-items: flex-start;
    width: 10%;
    border-right: 2px solid black;
    padding: 24px;
}

.intro_step_desc {
    padding: 24px;
    width: 90%;
}

#riverLogo {
    animation: pop 5s infinite;
    position: absolute;
    top: 88px;
    right: 85px;
}

@keyframes pop {
    0% { transform: translate(0, 0) scale(1.25, 0.75); }
    50% { transform: translate(0, -50px) scale(1, 1); }
    55% { transform: translate(0, -50px) rotate(15deg); }
    60% { transform: translate(0, -50px) rotate(-15deg); }
    65% { transform: translate(0, -50px) rotate(15deg); }
    70% { transform: translate(0, -50px) rotate(-15deg); }
    100% { transform: translate(0, 0) scale(1.25, 0.75); }
}

.product_plate {
    width: 160px;
    min-width: 160px;
    height: 160px;
    border: 2px solid black;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 24px;
    cursor: pointer;
    background-position: center;
    background-size: 266px 266px;
}

.product_plate h3 {
    width: 100px;
    font-weight: 700;
}

#profile_section {
    width: 100%;
    overflow-y: scroll;
    border: 2px solid black;
}

#profile_pic_container {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    object-fit: cover;
    overflow: hidden;
}

#profile_pic {
    display: inline;
    margin: 0 auto;
    height: 101%;
    width: auto;
}

.recommandations_container {
    padding: 32px;
    border-top: 2px solid black;
    display: flex;
    overflow-x: scroll;
}

#friends_section {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 16px 32px;
    border-top: 2px solid black;
}

.friends_listing {
    display: flex;
    padding: 16px 24px;
    align-items: flex-start;
}

.friends_listing p {
    width: 136px;
}

.friends_listing_icon {
    border: 2px solid black;
    margin-right: 8px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.friends_listing_icon img {
    height: 101%;
}

#star_rating {
    display: flex;
    margin-bottom: 8px;
}

#star_rating img {
    width: 32px;
}

#profile_section, .recommandations_container, #friends_section {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#profile_section::-webkit-scrollbar, .recommandations_container::-webkit-scrollbar, #friends_section::-webkit-scrollbar {
    display: none;
}

#product_selected_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid black;
}

.product_listing {
    display: flex;
    border-bottom: 2px solid black;
    justify-content: flex-end;
}

.product_listing_desc {
    border-right: 2px solid black;
    padding: 24px;
    width: 60%;
}

.product_listing_functions {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.product_listing_functions div {
    display: flex;
}

#back_button_button {
    border: 2px solid black;
    padding: 16px;
    border-radius: 48px;
}

#taste_graph_container {
    border-right: 2px solid black;
    width: 60%;
    padding: 24px;
}

#taste_graph_svg {
    background-position: center;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-5px);
    }
    100% {
        transform: translatey(0px);
    }
}

.taste_slider_plate {
    padding: 32px;
    border-top: 2px solid black;
}

.taste_slider_plate label {
    display: flex;
    justify-content: space-between;
}

.taste_slider_plate input {
    width: 100%;
    margin-top: 16px;
}

#cook_now_button {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("gradients/gradient (13).gif");
    background-position: center;
    background-size: 200%;
}

#product_cooking_section {
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-size: 200% 200%;
}

.scrolling_bar {
    width: 70%;
    overflow: hidden;
    border: 2px solid black;
    padding: 16px 0 10px;
    margin-top: 8px;
}

.scrolling_bar_content {
    width: 100%;
    white-space: nowrap;
    display: block;
    transform: translateX(140%);
    animation: horizontal_move 10s linear infinite
}

@keyframes horizontal_move {
    to {
        transform: translateX(-140%);
    }
}

.scrolling_bar_content_opp {
    width: 100%;
    white-space: nowrap;
    display: block;
    transform: translateX(-140%);
    animation: horizontal_move_opp 10s linear infinite
}

@keyframes horizontal_move_opp {
    to {
        transform: translateX(140%);
    }
}

.flash_element {
    animation: flash_element 0.7s linear infinite;
}

@keyframes flash_element {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

#product_cooking_section, #product_selected_section {
    display: none;
}