body {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Jura', sans-serif;
}

h1 {
    font-size: 88px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 26px;
    line-height: 30px;
}

p {
    font-size: 20px;
    line-height: 25px;
}

#main_plate {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
    background-image: url("https://cdn.shopify.com/s/files/1/0312/0801/3955/products/chroma-key-green-screen-bodysuit-front_1024x1024@2x.jpg");
    background-position: 50% 95%;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

#info_hud {
    display: flex;
    flex-wrap: nowrap;
    padding: 56px;
    position: absolute;
    bottom: 0px;
}

#buy_section {
    position: absolute;
    top: 0px;
    width: 100%;
}

#price_plate {
    position: absolute;
    bottom: 32px;
    right: 32px;
    z-index: 2;
}

#product_badges {
    display: flex;
    position: absolute;
    top: 32px;
    right: 32px;
    z-index: 3;
}

.side_column {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.info_plate {
    background-color: rgba(255, 255, 255, 80);
    border: 2px solid rgba(61, 61, 61);
    padding: 24px;
    border-radius: 8px;
    -moz-box-shadow: inset 0 0 4px rgba(61, 61, 61, 10);
    -webkit-box-shadow: inset 0 0 4px rgba(61, 61, 61, 10);
    box-shadow: inset 0 0 4px rgba(61, 61, 61, 10);
}

.urgent_plate_yellow {
    background-color: #FFF73E;
    border: 3px solid black;
    padding: 0px 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    /**/
    animation: flicker_yellow 0.2s infinite alternate;
    /**/
    -moz-box-shadow: inset 0 0 4px rgba(61, 61, 61, 10);
    -webkit-box-shadow: inset 0 0 4px rgba(61, 61, 61, 10);
    box-shadow: inset 0 0 4px rgba(61, 61, 61, 10);
}

.urgent_plate_red {
    background-color: #EB5757;
    border: 3px solid black;
    padding: 0px 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    /**/
    animation: flicker_red 0.5s 0.5s infinite alternate;
    /**/
    -moz-box-shadow: inset 0 0 4px rgba(61, 61, 61, 10);
    -webkit-box-shadow: inset 0 0 4px rgba(61, 61, 61, 10);
    box-shadow: inset 0 0 4px rgba(61, 61, 61, 10);
    /**/
}

#buy_button {
    height: 160px;
    width: 100%;
    border: 3px solid black;
    background-color: rgba(8, 232, 17, 65);
    cursor: pointer;
}

.counter_bar {
    width: 100%;
    background-color: rgba(255, 255, 255, 80);
    border: 3px solid black;
    box-sizing: border-box;
    /**/
    -moz-box-shadow: inset 0 0 4px rgba(61, 61, 61, 10);
    -webkit-box-shadow: inset 0 0 4px rgba(61, 61, 61, 10);
    box-shadow: inset 0 0 4px rgba(61, 61, 61, 10);
    border-radius: 8px;
}

#time_bar_counter {
    height: 64px;
    transform-origin: left center;
    background-color: #EB5757;
    border-radius: 7px;
}

.person_stats_graph_plate {
    width: 192px;
    border: 2px solid #3D3D3D;
    border-radius: 4px;
    margin: 8px 0px;
    padding: none;
}

.person_stats_graph {
    width: calc(var(--value));
    border-radius: 4px;
    background-color: var(--graph_color);
    -moz-box-shadow: 0 0 8px var(--graph_color);
    -webkit-box-shadow: 0 0 8px var(--graph_color);
    box-shadow: 0 0 8px var(--graph_color);
    padding: 8px 0px 8px 10px;
}

.product_badge {
    width: 136px;
    height: 136px;
    background-color: #FFF73E;
    border: 3px solid black;
    border-radius: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 8px;
    /**/
    -moz-box-shadow: inset 0 0 4px rgba(61, 61, 61, 10);
    -webkit-box-shadow: inset 0 0 4px rgba(61, 61, 61, 10);
    box-shadow: inset 0 0 4px rgba(61, 61, 61, 10);
    /**/
    animation: flicker_yellow 0.5s 0.5s infinite alternate;
}

#popup_buy {
    position: absolute;
    top: 32px;
    left: 32px;
    padding: 64px;
    z-index: 4;
    width: calc(100% - 192px);
    height: calc(100vh - 192px);
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.receipt_lines {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

#delivery_bar_counter {
    height: 64px;
    transform-origin: left center;
    background-color: rgba(8, 232, 17, 65);
    border-radius: 7px;
}

@keyframes flicker_yellow {
    100% {
        box-shadow: 0 0 40px 16px rgba(255, 247, 62, 100);
        -moz-box-shadow: 0 0 40px 16px rgba(255, 247, 62, 100);
        -webkit-box-shadow: 0 0 40px 16px rgba(255, 247, 62, 100);
    }
    0% {
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
}

@keyframes flicker_red {
    100% {
        box-shadow: 0 0 40px 16px rgba(235, 87, 87, 100);
        -moz-box-shadow: 0 0 40px 16px rgba(235, 87, 87, 100);
        -webkit-box-shadow: 0 0 40px 16px rgba(235, 87, 87, 100);
    }
    0% {
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
}

@keyframes flicker_green {
    100% {
        box-shadow: 0 0 40px 16px rgba(8, 232, 17, 100);
        -moz-box-shadow: 0 0 40px 16px rgba(8, 232, 17, 100);
        -webkit-box-shadow: 0 0 40px 16px rgba(8, 232, 17, 100);
    }
    0% {
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.person_stats_graph_animation {
    animation: graph_grow 0.5s ease-in-out;
}

@keyframes graph_grow {
    from {
        width: 0%;
    }
    to {
        width: var(--value)
    }
}

.animate_fade_in {
    animation: fade_in 0.7s ease-in;
}

@keyframes fade_in {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.button_animation {
    animation: buttongrow calc(var(--duration) * 1s) linear forwards, flicker_green 0.5s infinite alternate, shake 0.5s ease-in infinite;
}

@keyframes buttongrow {
    from {
        height: 160px;
    }
    to {
        height: 1300px;
    }
}

.timebar_animation {
    animation: timebargrow calc(var(--duration) * 1s) linear forwards, flicker_red 0.5s 0.5s infinite alternate;
}

@keyframes timebargrow {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

.deliverybar_animation {
    animation: deliverybargrow calc(var(--duration) * 1s) linear forwards, flicker_red 0.5s calc(var(--duration) * 1s) infinite alternate;
}

@keyframes deliverybargrow {
    0% {
        width: 0%;
    }
    99% {
        background-color: rgba(8, 232, 17, 65);
    }
    100% {
        width: 80%;
        background-color: #EB5757;
    }
}